[submodule "third-party/rkh"]
	path = third-party/rkh
    url = https://github.com/vortexmakes/RKH.git

[submodule "third-party/ssp"]
	path = third-party/ssp
	url = https://github.com/leanfrancucci/ssp.git
[submodule "rkh"]
	branch = 9841217
[submodule "ssp"]
	branch = master
[submodule "third-party/ceedling"]
	path = third-party/ceedling
	url = https://github.com/ThrowTheSwitch/Ceedling.git
[submodule "third-party/MQTT-C"]
	path = third-party/MQTT-C
	url = https://github.com/leanfrancucci/MQTT-C.git
	branch = reactive
