[submodule "rkh"]
	path = rkh
	url = https://github.com/vortexmakes/RKH.git
[submodule "third-party/rkh"]
	path = third-party/rkh
	url = https://github.com/vortexmakes/RKH.git
[submodule "third-party/ssp"]
	path = third-party/ssp
	url = https://github.com/leanfrancucci/ssp.git
